.menuContainer{
    width: 200px;
    position: relative;
    border-style: solid;
    text-align: center;
}
.accessButton{
    width: 20px;
    border-radius:14px;
    margin: auto;
    border-style: ridge;
    text-align: center;
    display: inline-block;
}
.interactButton{
    display:inline-block;
    border-style: solid;
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 4px;
}
