<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Class Assignment - Create</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>

    <form action="/pokemon" method="POST">
        Name:
        <br><input type="text" name='name'>
        <br>Image:
        <br><input type="text" name='img'>
        <br><input type="submit">
    </form>


     </body>
</html>